// .vertical-text {
//     transform: rotate(90deg);
//     transform-origin: left top 0;
//     float: left;
// }

#header {
    background-color: white;
    left: 5%;
    height: 90px;
}

#base {
    background-color: #F5F5F5;
}

#navText {
    position: fixed;
    padding-top: 10%;
}

#navig {
    position: fixed;
    padding-top: 10%;
}

#rightdiv {
    padding-left: 25%;
}

#middlediv {
    padding-left: 15%;
}

#container {

    left: 30%;
    
    position: relative;

}

#leftside {

    float: left;
    height: 600px;
    max-width: 50px;
}

#rightside {
    float: left;
    background-color: white;
    height: 600px;
    max-width: 95%;
    
}

#image {
    height: 500px;
    width: 500px;
    margin-left: 0px;
    background-image: url('/assets/images/Sofa.png');
    position: relative;
    top: 25px;
    margin-bottom: -52px;
}

#rightcontent {
    padding-left: 60%;
}

.checked {
    color: orange;
}

.price {
    font-size: 20px;
}

// .small {
//     height: 25px;
//     width: 25px;
// }

#firstbutton {
    background-color: burlywood;
    display: inline-block;
}

#secondbutton {
    background-color: black;
    display: inline-block;
}

#thirdbutton {
    background-color: white;
    border-color: black;
    border: 1px solid;
    display: inline-block;
}

.vertical {
   text-align: center;
   display: inline-block;
   top: 2px;
}

.circle {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.white {
    color: floralwhite;
}

.quantityButton {
    background-color: #F5F5F5;
    width: 40px;
    height: 40px
}

.quantitytext {
    font-size: 20px;
}

.quantityarea {
    width: 60px;
}

.cartButton {
    background-color: #FFC400;
    color: floralwhite;
    width: 180px;
}

#description {
    position: relative;
}

#details {
    position: relative;
}

#descHeading {
    padding-top: 5%;
    position: relative;
    width: 40%;
    z-index: 1;
    background-color: #F5F5F5;
}

#descBody {
    padding-top: 5%;
    width: 25%;
    text-align: justify;
    float: left;
}

#descImage {
    background-image: url('/assets/images/maxresdefault.png');
    height: 500px;
    width: 700px;
    float: left;
    top: 25%;
    left: 30%;
    position: absolute;
}

#descContainer {
    position: relative;
}

#videoHeading {
    padding-top: 3%;
    padding-bottom: 3%;
    position: absolute;
    width: 40%;
    z-index: 1;
    background-color: #F5F5F5;
}

#videoContainer {
    padding-top: 10%;
    position: relative;
}

#videoBody {
    flex: left;
}

#container1 {
    
   padding-top: 10%;
    height: 700px;
    position: relative;
}
    
#leftside1 {
   padding-top: 8%;
    float: left;
    height: 600px;
    max-width: 50px;
}
    
#rightside1 {
    float: left;
    background-image: url('/assets/images/sofa3.PNG');
    height: 700px;
    width: 1000px;
        
}
    
#image1 {
    height: 250px;
    width: 300px;
    margin-left: 0px;
    background-image: url('/assets/images/Capture1.PNG');
    position: relative;
    top: 45%;
    margin-bottom: -52px;
    // box-shadow: -20px 25px 10px -10px lightgrey; 
}

.z-depth-5 {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  }

.downloadButton {
    bottom: -119px;
    right:120px;
    width: 220px;
    height: 100px;
    background-color: #FFC400;
    position: absolute;
}

#relatedProducts {
   
    left: 0;
    right: 0;
    position: relative;
    padding-bottom: 100px;
}

.relatedItems {
    // width: 230px;
    height: 320px;
    background-color: white;
    align-content: center;
}

#footer {
    padding-top: 100px;
    height: 450px;
    background-color: #FFD600;
    position: absolute;
    right: 0;
    left: 0;
}

#line1 {
    color: black;
    background-color: black;
    width: 400px;
    align-self: center;
    border: solid 0.2px black;
}

#line2 {
  
    border: solid 0.1px black;

}

#footerLinks {
    padding-top: 150px;
    left: 30px;
    display: inline;
}

.black {
    color: black;
}

#footerImage {
    padding-left: 10%;
}

#footerSocials {
    padding-left: 25%;
}

.sideButtons {
    background-color: #F5F5F5
}
