<mat-toolbar id="header">
    <span><img src="/assets/images/logo1.PNG"></span>
    <span class="flex-spacer"></span>
    <a mat-button routerLink="#" routerLinkActive="active">BEDROOM</a>
    <a mat-button routerLink="#" routerLinkActive="active">LIVING ROOM</a>
    <a mat-button routerLink="#" routerLinkActive="active">OFFICE</a>
    <a mat-button routerLink="#" routerLinkActive="active">KITCHEN</a>
    <a mat-button routerLink="#" routerLinkActive="active">BATHROOM</a>
    <button mat-icon-button><span class="fa fa-search fa-lg"></span></button>&nbsp;
    <button mat-icon-button><span class="fa fa-heart fa-lg"></span></button>&nbsp;
    <button mat-icon-button><span class="fa fa-shopping-cart fa-lg"></span></button>
</mat-toolbar>

<ol class="breadcrumb">
  <li class="breadcrum-item"><mat-icon>home</mat-icon></li>
  <li class="breadcrum-item"><span>CATALOG</span></li>
  <li class="breadcrum-item"><span>SOFAS</span></li>
  <li class="breadcrum-item active"><span>BUIGE NUDIE SOFA</span></li>
</ol>

<div id="base" class="container">
  <div class="row">
    <div id="navText" class="col-lg-2 col-xl-2 col-md-2">
        <strong><p style="transform: rotate(-90deg); font-size: 30px; color: white;">{{text}}</p></strong>
    </div>

    <div id="navig" class="col-lg-1 offset-lg-2 col-xl-2 col-md-2" style="left: 13%">
        <button mat-button class="sideButtons" (click)="details()" style="float: right;"><span>DETAILS</span></button>
        <button mat-button class="sideButtons" (click)="description()" style="float: right;"><span>DESCRIPTION</span></button>
        <button mat-button class="sideButtons" (click)="reviews()" style="float: right;"><span>REVIEWS</span></button>
        <button mat-button class="sideButtons" (click)="custom()" style="float: right;"><span>CUSTOM TAB</span></button>
        <br>
        <a href="www.facebook.com"><span class="fa fa-facebook-f fa-lg black"></span></a>&emsp;
        <a href="www.twitter.com"><span class="fa fa-twitter fa-lg black"></span></a>&emsp;
        <a href="www.pininterest.com"><span class="fa fa-pinterest fa-lg black"></span></a>
    </div>

    <div id="container" class="col-lg-4 offset-lg-4 col-xl-5 col-md-4 col-sm-12 col-xs-12">
      <div class="container">
        <div id="details" class="row">
          <div id="leftside">
            <div id="image">

            </div>
          </div>

          <div id="rightside">
            <div id="rightcontent" class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-10">
                        <h3>Nudie Extendable Sofa for 3 persons.</h3><br>
                        <span class="fas fa-star checked"></span>
                        <span class="fas fa-star checked"></span>
                        <span class="fas fa-star checked"></span>
                        <span class="fas fa-star checked"></span>
                        <span class="fas fa-star"></span>
                        <span>(23)</span>
                        <br><br>
                        <span class="price"><del>$169</del></span>
                        <span class="price"><strong>$149</strong></span>
                    </div>
                  </div>
                    
                  <hr>
                  <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-10">
                        <ul>
                            <li><strong>Assembly:</strong> Carpenter Assembly</li>
                            <li><strong>Warranty:</strong> 12 Months' Warrant</li>
                          </ul>
                    </div>
                  </div>
                    
                  <hr>
                  <div class="row">
                    <div class="col-lg-1 col-md-2 col-sm-2">
                        <button mat-icon-button disabled><span class="fas fa-truck"></span></button>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4">
                        <span><strong>SAME DAY DISPATCH</strong></span>
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-2">
                        <button mat-icon-button disabled><mat-icon>loop</mat-icon></button>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-5">
                        <span><strong>EASY 30-DAY RETURN POLICY</strong></span>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <span><strong>COLOR:</strong></span><br>
                        <button mat-icon-button id="firstbutton" class="circle" *ngIf="selectedfirst === false" (click)="firstButton()"></button>
                        <button mat-icon-button id="firstbutton" class="circle" *ngIf="selectedfirst === true" (click)="firstButton()"><span class="fas fa-check fa-sm vertical"></span></button>
                        <button mat-icon-button id="secondbutton" class="circle" *ngIf="selectedsecond === false" (click)="secondButton()"></button>
                        <button mat-icon-button id="secondbutton" class="circle" *ngIf="selectedsecond === true" (click)="secondButton()"><span class="fas fa-check fa-sm vertical white"></span></button>
                        <button mat-icon-button id="thirdbutton" class="circle" *ngIf="selectedthird === false" (click)="thirdButton()"></button>
                        <button mat-icon-button id="thirdbutton" class="circle" *ngIf="selectedthird === true" (click)="thirdButton()"><span class="fas fa-check fa-sm vertical"></span></button>
                        <br>
                
                        <button type="button" class="btn quantityButton" (click)="sub()"><span><strong class="quantitytext">-</strong></span></button>
                        <button type="button" style="display: inline" disabled class="btn quantityButton"><span>{{quantity}}</span></button>
                        <button style="display: inline" type="button" class="btn quantityButton" (click)="add()"><span class="quantitytext"><strong>+</strong></span></button>
                        <button style="display: inline" type="button" class="btn cartButton"><strong>ADD TO CART</strong></button>
                    </div>
                  </div>
            </div>
            
              
              <br>
              
          </div>

        </div>

        <div id="description" class="row">
          <div id="descContainer">
              <div id="descHeading">
                  <h2>But, in truth worthy of them, and they are accusing, and the hatred of the righteos.</h2>
                </div>
                <div id="descBody">
                  <p>But, in truth worthy of hatred for them, and they are accusing etiusto of these pains, to flatter you and which of them deal corruptly,
                     and the troubles of the present exception of pleasure deleniti occasion of covetousness is not betaken himself to be,
                     the duties of those who deserted  the general's want of spirit, and in the same chapter be at fault, that added to
                     laborumetdolorumtuga.
                  </p>
                  <p>
                    But this requires a simple and easy distinction. For your free time, and they are independent to us the most
                     important is that which is well pleasing in his option of choosing when they are enabled to do nothing to 
                     stop it were not so, every pleasure is to be welcomed and every pain avoided.
                  </p>
                </div>
                <div id="descImage">
      
                </div>
          </div>
          
        </div>

        <div id="descVideo" class="row">
          <div id="videoContainer">
            <div id="videoHeading">
              <h2>But , in truth worthy of them, and they are accusing and he is just hatred.</h2>
            </div>
            <div id="videoBody">
              <video width="1000" height="500" controls>
                <source src="/assets/videos/sofa.mp4">
              </video>
            </div>
          </div>
        </div>

        <div class="row">
          <div id="container1">
              <div id="leftside1">
                <p style="transform: rotate(-90deg)"> SUGGESTED ACCOMODATION</p>
                  <div id="image1" class="z-depth-5">
      
                  </div>
                </div>
                <div id="rightside1">
                  <button mat-button class="downloadButton"><span class="far fa-arrow-alt-circle-down fa-lg"></span> DOWNLOAD PDF</button>
                </div>
          </div>
          
        </div>

        
      </div>
        
    </div> 
  </div>


      <div id="relatedProducts" class="row">
        
            <h3>Related Products</h3>
            <div class="relatedItems col-lg-2">
                <img src="/assets/images/item1.png"><br>
                <h3> Bamboo fibre gobo</h3>
                <p><del>$169</del><strong>$149</strong></p>
            </div>
            <div class="relatedItems col-lg-2">
                <img src="/assets/images/item2.png">
                <h3>Pearly white gold</h3>
                <p><del>$169</del><strong>$149</strong></p>
            </div>
            <div class="relatedItems col-lg-2">
                <img src="/assets/images/item3.png">
                <h3>Oled ringlight</h3>
                <p><del>$169</del><strong>$149</strong></p>
            </div>
            <div class="relatedItems col-lg-2">
                <img src="/assets/images/item4.png">
                <h3>Bamboo fibre fobo</h3>
                <p><del>$169</del><strong>$149</strong></p>
            </div>
            <div class="relatedItems col-lg-2">
                <img src="/assets/images/item5.png">
                <h3>Pearly white gold</h3>
                <p><del>$169</del><strong>$149</strong></p>
            </div>
            <div class="relatedItems col-lg-2">
                <img src="/assets/images/item6.png">
                <h3>Oled ringlight</h3>
                <p><del>$169</del><strong>$149</strong></p>
            </div>
      
        
      </div>

      <div id="footer" class="row">
        <div class="col-lg-12">
          <h2 align="center">Grab Our Newsletter</h2>
          <hr id="line1">
          <hr id="line2">

          <div id="footerLinks">
              <a mat-button routerLink="#" routerLinkActive="active">BEDROOM</a>
              <a mat-button routerLink="#" routerLinkActive="active">LIVING ROOM</a>
              <a mat-button routerLink="#" routerLinkActive="active">OFFICE</a>
              <a mat-button routerLink="#" routerLinkActive="active">KITCHEN</a>
              <a mat-button routerLink="#" routerLinkActive="active">BATHROOM</a>
          </div>
          <div id="footerImage" style="display: inline; align-self: center;">
            <img src="/assets/images/logo.PNG">
          </div>
          <div id="footerSocials" style="display: inline; align-self: right;">
            <a href="www.facebook.com"><span class="fa fa-facebook-f fa-lg black"></span></a>&emsp;
            <a href="www.twitter.com"><span class="fa fa-twitter fa-lg black"></span></a>&emsp;
            <a href="www.pininterest.com"><span class="fa fa-pinterest fa-lg black"></span></a>
          </div>
        </div>
      </div>
   
  
</div>

